{% extends 'header.html' %}

{% block content %}
<!--Block content goes below-->
{% for post in posts %}
<article>
    <time>published:{{ post.published_date }}</time>
    <h2><a href="">{{ post.title }}</a></h2>
    <p>{{ post.text|linebreaksbr }}</p>
</article>
<hr />
{% endfor %}

{% endblock %}