{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}"/>
    <title>Simple Blog</title>
    {% load pwa %}
    {% progressive_web_app_meta %}
  </head>
 <body>
    <header>
        <h4 class="text-center"><a href="/">Simple Blog</a></h4>
    </header>
    {% block content %}

    {% endblock %} 
      
  </body>
</html>